.container-detail {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    height: 100vh;
    padding: 20px;
}

.detail {
    flex: 1;
    padding: 20px;
}

.map-detail {
    flex: 1;
    padding: 20px;
}

.detail-card-image {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

article {
    text-align: justify;
    margin: 10px;
}

.map {
    width: 100vh;
    height: 675px;
}

.detail-card {
    width: 50%;
}