.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.MDBCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.25vmin;
}


.form-container {
    color: aliceblue;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.input-field {
    width: 50vh;
}

.MDBCardTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MDBBtn {
    margin: 0 auto;
    width: 200px;
}

button {
    width: 100%;
}